@font-face {
    font-family: 'logo';
    src: 
        url('fonts/MEllis-Regular.otf') 
        format('opentype');
}

@font-face {
    font-family: 'gift';
    src: 
        url('fonts/Gifts-Icons.ttf') 
        format('truetype');
}

body {
    font-family: sans-serif;
    font-size: 1em;
    background-color: purple;
}

h1 {
    font-size: 3.5em;
    font-family: 'logo';
}

#gift {
    font-family: 'gift';
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #339900;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

main p {
    text-align: center;
}

main a button, main input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: purple;
    padding: 0.5em;
    border: 0.1em solid purple;
    background-color: transparent;
    font-weight: bold;
    -webkit-transition: background-color 0.25s, color 0.25s; /* Safari */
    transition: background-color 0.25s, color 0.25s;
}

main a button {
    display: block;
    margin: 0 auto;
    font-size: 2em;
}

main a button:hover, main a button:active,
main input[type="submit"]:hover, main input[type="submit"]:active{
    background-color: purple;
    color: white;
}

main input[type="text"], main input[type="password"], main input[type="email"],
main input[type="date"], select{
    width: 90%;
}

h3 {
    font-size: 1.5em;
} 

header {    
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

article {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
}

footer {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    color: white;
}

header input[type="text"], header input[type="password"] {
    display: inline-block;
    width: 100%;
    padding: 0.25em;
    border: 0.1em solid white;
    color: black;
}

header input[type="submit"] {
    width: 100%;
    padding: 0.25em;
    border: 0.1em solid white;
    background-color: transparent;
    font-weight: bold;
    -webkit-transition: background-color 0.25s, color 0.25s; /* Safari */
    transition: background-color 0.25s, color 0.25s;
}

header input[type="submit"]:hover, header input[type="submit"]:active {
    background-color: white;
    color: purple;
}

header a, header a:visited, footer a, footer a:visited {
    color: white;
    text-decoration: underline;
}

header a:hover, header a:active, footer a:hover, footer a:active {
    color: white;
    text-decoration: none;
}

input[readonly] {
    background-color: lightgray;
}

.fundoAlt {
    background-color: #339900;
    color: white;
}

.fundoAlt h2 {
    color: white;
}

.container {
    padding-top: 1em;
    padding-bottom: 1em;
}

#direita {
    text-align: right;
}

.alerta_sucesso {
    background-color: lightgreen;
}

.alerta_erro {
    background-color: lightcoral;
}

#xis {
    text-align: right;
    font-weight: bolder;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75em 1em;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover, nav ul li a:active {
    background-color: white;
    color: purple;
}