/* FONTES */

@font-face {
    font-family: 'logo';
    src: 
        url('fonts/MEllis-Regular.otf') 
        format('opentype');
}

@font-face {
    font-family: 'gift';
    src: 
        url('fonts/Gifts-Icons.ttf') 
        format('truetype');
}

/* GRID */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.row, .row-plus {
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.row::after, .row-plus::after {
    content: "";
    clear: both;
    display: table;
    padding: 0;
    position: relative;
}

[class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* GERAL */

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
    background-color: #800080;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: #2D8000;
    padding-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h3 {
    color: black;
    font-weight: normal;
}

input[readonly] {
    background-color: #e6e6e6;
    outline: none;
    cursor: default;
}

.bt {
    margin: 0;
    display: inline-block;
    float: right;
}

.bt a {
    font-size: 1em;
}

#btsearch {
    font-size: 1em;
}

#btdel {
    padding-left: 0.5em;
}

.bdImg {
    display: block;
    margin: 0 auto;
    max-height: 10em;
    max-width: 100%;
}

/* PRINCIPAL */

section, article {
    background-color: white;
}

section a, section a:visited, article a, article a:visited {
    color: #2D8000;
    text-decoration: underline;
}

section a:hover, section a:active, article a:hover, article a:active {
    text-decoration: none;
}

section p {
    text-align: center;
}

section button {
    background-color: transparent;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

section button a, section input[type="submit"], button[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #2D8000;
    padding: 0.5em;
    border: 0.1em solid #2D8000;
    background-color: transparent;
    font-weight: bold;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    display: block;
    margin: 0 auto;
}

section button a {
    display: block;
    font-size: 2em;
    text-decoration: none;
}

section button a:hover, section button a:active,
section input[type="submit"]:hover, section input[type="submit"]:active,
button[type="submit"]:hover, button[type="submit"]:active {
    background-color: #2D8000;
    color: white;
}

section input[type="text"], section input[type="password"], section input[type="email"], textarea,
section input[type="date"], section input[type="time"], section input[type="search"], select,
section input[type="number"]{
    width: 100%;
    border: 0.1em solid black;
    padding: 0.25em;
    outline: none;
}

textarea {
    resize: none;
}

section input[type="search"], #filtro {
    padding: 0.4em;
}

.fundo1 {
    background-image: url("bg/bg1.png");
    background-size: 100%;
    background-color: black;
    padding-top: 2em;
    padding-bottom: 2em;
}

.fundo1 h1 {
    color: #2D8000;
    padding: 0;
    font-size: 2.5em;
    text-align: left;
}

.fundo1 p {
    color: white;
    font-size: 1.3em;
    text-align: left;
}

.fundo1 button {
    margin: 0;
}

.fundo1 button a {
    border-color: #2D8000;
    color: #2D8000;
}

.fundo1 button a:hover, .fundo1 button a:active {
    border-color: #2D8000;
    background-color: #2D8000;
    color: white;
}

.fundo2 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.fundo2 h2 {
    font-size: 1.25em;
}

.fundo2 i {
    font-size: 2em;
}

.fundo3 {
    background-image: url("bg/bg2.png");
    background-size: cover;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.fundo3 h1 {
    color: #2D8000;
    padding: 0;
}

.fundo3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fundo3 ul li {
    display: inline-block;
    padding: 0 1em;
}

.fundo3 ul li:first-child {
    padding: 0 1em 0 0;
}

.fundo3 ul li:last-child {
    padding: 0 0 0 1em;
}

.fundo3 ul li a {
    color: #2D8000;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: background-color 0.25s, color 0.25s; /* Safari */
    transition: background-color 0.25s, color 0.25s;
}

.fundo3 ul li a:hover, .fundo3 ul li a:active {
    color: black;
}

.homeh {
    text-align: center;
}

.footerh {
    text-align: right;
}

#btSaibaMais a, #btFinalizar a {
    border-color: #2D8000;
    color: #2D8000;
    font-size: 1.5em;
    padding: 0.5em;
}

#btFinalizar a {
    font-size: 1.25em;
}

#btFinalizar {
    float: right;
}

#btSaibaMais a:hover, #btSaibaMais a:active,
#btFinalizar a:hover, #btFinalizar a:active {
    background-color: #2D8000;
    color: white;
}

#btCriarLista {
    float: right;
}

#btCriarLista a {
    font-size: 1.25em;
}

.btListas {
    display: block;
    margin: 0 0 0 auto;
    width: 100%;
}

.btListas a {
    font-size: 1em;
}

.btBloq, .btExc {
    display: inline-block;
    width: 45%;
    margin: 0;
}

.btBloq a, .btExc a {
    font-size: 1em;
}

.btExc {
    float: right;
}

#btAd a, #btAd a:hover, #btAd:active {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

table, th, td {
    padding: 0.5em;
    border: 0.1em solid black;
}

table {
    width: 100%;
}

.icon-big {
    color: #2D8000;
    font-size: 5em;
}

.icon-small {
    color: #2D8000;
}

#msgCpf, #msgEmail, #msgNomeUsuario {
    color: red;
}

/* CABEÇALHO */

header {    
    color: white;
}

header input[type="text"], header input[type="password"] {
    margin-top: 1em;
    display: inline-block;
    width: 100%;
    padding: 0.25em;
    border: 0.1em solid white;
    color: black;
    outline: none;
}

header input[type="submit"] {
    margin-top: 1em;
    width: 100%;
    padding: 0.25em;
    border: 0.1em solid white;
    background-color: transparent;
    font-weight: bold;
    -webkit-transition: background-color 0.25s, color 0.25s;
    transition: background-color 0.25s, color 0.25s;
}

header input[type="submit"]:hover, header input[type="submit"]:active {
    background-color: white;
    color: #800080;
}

header a, header a:visited, footer a, footer a:visited {
    color: white;
    text-decoration: underline;
}

header a:hover, header a:active, footer a:hover, footer a:active {
    color: white;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    float: right;
    padding: 0.5em 0 0 0.5em;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75em 1em;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: background-color 0.25s, color 0.25s; /* Safari */
    transition: background-color 0.25s, color 0.25s;
    border: 0.1em solid white;
}

header nav ul li a:hover, header nav ul li a:active {
    background-color: white;
    color: #800080;
}

#logo {
    float: left;
}

/* NAVEGAÇÃO */

aside {
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #330033;
    border: 0.1em solid #4d004d;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul li a {
    padding: 0.35em 1em;
    text-decoration: none;
    color: white;
    display: block;
    -webkit-transition: background-color 0.25s, color 0.25s; /* Safari */
    transition: background-color 0.25s, color 0.25s;
    font-weight: bold;
}

aside ul li a:hover, aside ul li a:active {
    background-color: white;
    color: #4d004d;
}

#asideTitle {
    text-align: center;
    font-family: 'logo';
    color: white;
    font-size: 1.75em;
    padding-top: 0.25em;
}

.recuo {
    display: inline-block;
    width: 2.25em;
}

/* RODAPÉ */

footer {
    text-align: center;
    color: white;
}

footer ul {
    text-align: center;    
}

footer ul li {
    display: inline;
    padding: 0 1em;
}

/* ALERTAS */

.alerta_sucesso {
    background-color: #2D8000;
    color: white;
}

.alerta_erro {
    background-color: #8D0707;
    color: white;
}

#msgCpf, #msgEmail, #msgNomeUsuario {
    color: #8D0707;
}

/* Para dispositivos móveis */
[class*="col-"] {
    width: 100%;
}

/* Para computadores */
@media all and (min-width: 960px) {    
    .row {width: 70%;}
    .row-plus {margin-left: 25%; width: 70%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}