/* FONTES */

@font-face {
    font-family: 'logo';
    src: 
        url('fonts/MEllis-Regular.otf') 
        format('opentype');
}

@font-face {
    font-family: 'gift';
    src: 
        url('fonts/Gifts-Icons.ttf') 
        format('truetype');
}

/* GRID */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.row, .row-plus {
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.row::after, .row-plus::after {
    content: "";
    clear: both;
    display: table;
    padding: 0px;
    position: relative;
}

[class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* GERAL */

body {
    font-family: sans-serif;
    font-size: 1em;
    background-color: purple;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #339900;
    padding-bottom: 0.5em;
}

h1 {
    text-align: center;
    font-size: 2em;
}

input[readonly] {
    background-color: lightgray;
}

/* PRINCIPAL */

section {
    background-color: white;
}

section p {
    text-align: center;
}

section button {
    background-color: transparent;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

section button a, section input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: purple;
    padding: 0.5em;
    border: 0.1em solid purple;
    background-color: transparent;
    font-weight: bold;
    -webkit-transition: background-color 0.25s, color 0.25s; /* Safari */
    transition: background-color 0.25s, color 0.25s;
}

section button a {
    display: block;
    font-size: 2em;
}

section button a:hover, section button a:active,
section input[type="submit"]:hover, section input[type="submit"]:active {
    background-color: purple;
    color: white;
}

section input[type="text"], section input[type="password"], section input[type="email"],
section input[type="date"], select {
    width: 100%;
    border: 0.1em solid black;
}

.fundoAlt {
    background-color: #339900;
    color: white;
}

.fundoAlt h1 {
    color: white;
}

/* CABEÇALHO */

header {    
    color: white;
}

header input[type="text"], header input[type="password"] {
    display: inline-block;
    width: 100%;
    padding: 0.25em;
    border: 0.1em solid white;
    color: black;
}

header input[type="submit"] {
    width: 100%;
    padding: 0.25em;
    border: 0.1em solid white;
    background-color: transparent;
    font-weight: bold;
    -webkit-transition: background-color 0.25s, color 0.25s; /* Safari */
    transition: background-color 0.25s, color 0.25s;
}

header input[type="submit"]:hover, header input[type="submit"]:active {
    background-color: white;
    color: purple;
}

header a, header a:visited, footer a, footer a:visited {
    color: white;
    text-decoration: underline;
}

header a:hover, header a:active, footer a:hover, footer a:active {
    color: white;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75em 1em;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover, header nav ul li a:active {
    background-color: white;
    color: purple;
}

#logo {
    float: left;
}

/* RODAPÉ */

footer {
    text-align: center;
    color: white;
}

footer ul {
    text-align: center;    
}

footer ul li {
    display: inline;
}

/* ALERTAS */

.alerta_sucesso {
    background-color: lightgreen;
}

.alerta_erro {
    background-color: lightcoral;
}

#xis {
    text-align: right;
    font-weight: bolder;
}

/* Para dispositivos móveis */
[class*="col-"] {
    width: 100%;
}

/* Para computadores */
@media all and (min-width: 960px) {    
    .row {width: 70%;}
    .row-plus {margin-left: 25%; width: 70%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4d004d;
    position: fixed;
    height: 100%;
    width: 20%;
    overflow: auto;
    box-shadow: 5px 0px 15px black;
}

aside li a {
    font-weight: bold;
    display: block;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
}

aside li a:hover, aside li a:active {
    background-color: white;
    color: #4d004d;
}